* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: #e50914;
    letter-spacing: 2px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #777;
}

footer p {
    font-size: 14px;
}
