body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: red;
    margin-bottom: 40px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.video-item {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.video-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-item p {
    color: white;
    padding: 10px;
    font-size: 14px;
    background-color: #141414;
    margin: 0;
    border-top: 1px solid #444;
}
