body {
    background-color: #141414;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #e50914;
}

.catalogo {
    padding: 20px;
}

.filmes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.filme {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.filme img {
    width: 100%;
    border-radius: 8px;
}

.filme p {
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
}
